*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

main{
    height: 100vh;
    display:flex;
    justify-content:center;
    background-color:aqua;
    form{
        text-align: center;
        margin:20vh  0;
        border-radius: 20px;
        background-color:#fff;
        width: 80vw;
        div{
            label{
            font-size:10vh;
            }
        }
        input{
            padding:2vh 15vw;
            margin: 3vh 0;
        }
        div{
            input{
                padding: 1.5vh 10vw;
            }
        }
        .textNone{
        color:red;
        }
        p{
            font-size: 30px;
        }
    }
}